* {
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    padding: 0;
    margin: 0;
}

header {
    border-bottom: 0.5px solid gray;
    box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.75);
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.general-container {
    height: 100vh;
    box-sizing: border-box;
    padding: 3rem;
}

.general-container h1 {
    font-size: 4rem;
}

.links-container {
    min-height: 40%;
    padding: 1rem;
    max-width: 400px;
    width: 100%;
}

.links-container a {
    width: 100%;
    background: midnightblue;
    padding: 1.5rem .5rem;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}